DATABASE_URL=postgresql://fi_admin:change_me@postgres:5432/fi_local
POSTGRES_USER=fi_admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=fi_local
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=eu-west-1
SQS_QUEUE_NAME=factory-intelligence-reports-queue
S3_BUCKET_NAME=factory-intelligence-reports